* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker", sans-serif;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E0E3E6;
}

@font-face {
    font-family: "Permanent Marker";
    src: url('./fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 90px;
    width: 100%;
    background-color: #A1A4A6
}

.content_limitation_header {
    display: flex;
    justify-content: center;
}

.header_content {
    max-width: 1440px;
}

h1 {
    padding: 40px 40px 20px 40px;
    text-align: center;
    color: #4D5052;
    font-size: 38px;
}

main {
    flex: 1;
}

.logo {
    width: 200;
    height: 60px;
}

#imgShown {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.imagesNY {
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: scale 125ms ease, color 125ms ease-in-out;
}

.imagesNY:hover {
    scale: 1.2;
    /* drop-shadow(offset-x offset-y blur-radius color) */
    filter: drop-shadow(10px 20px 5px #01010c);
    cursor: pointer;
}

.single_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay_dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    max-height: 90vh;
    padding: 10px;
}

.overlay_title {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: #4D5052;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.overlay_card {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 80px 80px 100px #272829;
}

.overlay_image {
    border-radius: 10px;
    width: auto;
    max-width: 100%;
    height: 70vh;
    object-fit: cover;
}

.d_none {
    display: none;
}

/* arrow buttons to navigate between images */
.overlay_arrows {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.sticky_arrows {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button_previous,
.button_next {
    font-size: 24px;
    padding: 8px 12px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.arrow_previous,
.arrow_next {
    width: 28px;
    height: 28px;
}


/* close button for overlay_card */
.close_button {
    position: absolute;
    top: 5px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #131414;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s ease;
}

.close_button:hover {
    color: #878788;
}


/* footer */
.content_limitation {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #A1A4A6;
}

footer {
    max-width: 1440px;
    padding: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_media_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social_media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;

}

.social_media:hover,
.social_media:focus {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

@media(max-width: 1165px) {
    .overlay_dialog {
        max-height: 80vh;
    }
}

@media(max-width:720px) {
    .overlay_card {
        padding: 20px;
    }

    .close_button {
        font-size: 20px;
    }
}

@media(max-width:700px) {
    .overlay_dialog {
        width: 40vw;
    }
}

@media(max-width:530px) {
    header {
        justify-content: center;
    }
}

@media(max-width: 520px) {
    .overlay_image {
        height: 50vh;
    }
}

@media(max-width:515px) {
    #imgShown {
        padding-bottom: 60px;
    }
}

@media(max-width:430px) {
    .overlay_image {
        height: 40vh;
    }
}


@media(max-width:370px) {
    .logo {
        width: 150px;
        height: auto;
    }
}