* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 90px;
    width: 100%;
    background-color: grey;
}

.content_limitation_header {
    display: flex;
    justify-content: center;
}

.header_content {
    max-width: 1440px;
}

/* main */
main {
    flex: 1;
}

.logo {
    width: 200;
    height: 60px;
}

#imgShown {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.imagesNY {
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: scale 125ms ease, color 125ms ease-in-out;
}

.single_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
}

/* footer */
.content_limitation {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
}

footer {
    max-width: 1440px;
    padding: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_media_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social_media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;

}

.social_media:hover,
.social_media:focus {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}