* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E0E3E6;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 90px;
    width: 100%;
    background-color: #A1A4A6
}

.content_limitation_header {
    display: flex;
    justify-content: center;
}

.header_content {
    max-width: 1440px;
}

/* main */
main {
    flex: 1;
}

.logo {
    width: 200;
    height: 60px;
}

#imgShown {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.imagesNY {
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    transition: scale 125ms ease, color 125ms ease-in-out;
}

.imagesNY:hover {
    scale: 1.2;
    /* drop-shadow(offset-x offset-y blur-radius color) */
    filter: drop-shadow(10px 20px 5px #01010c);
    cursor: pointer;
}

.single_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleText {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay_card {
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 80px 80px 100px #272829;
}

.overlay_image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.d_none {
    display: none;
}

/* close button for overlay_card */
.close_button {
    position: absolute;
    top: 5px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #131414;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s ease;
}

.close_button:hover {
    color: #878788;
}


/* footer */
.content_limitation {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #A1A4A6;
}

footer {
    max-width: 1440px;
    padding: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_media_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social_media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;

}

.social_media:hover,
.social_media:focus {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}